<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">     
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <title>MyMovies</title>
</head>
<header class="flex h-16 w-full items-center justify-between px-4 md:px-6 bg-white shadow-md">
  <a class="flex items-center gap-2" href="/">
    
    <span class="text-lg font-semibold  p-2 text-white bg-gray-800 hover:bg-white rounded-md hover:text-black transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-200">My movies</span>
  </a>
  <nav class="flex items-center gap-4">
    {% if user.is_authenticated %}
        <h1>Hello, {{ user.username }}!</h1>
        <a class="text-lg font-semibold p-2 text-black" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a class="text-lg font-semibold p-2 text-black" href="{% url 'login' %}">Login</a>
        
    {% endif %}
  </nav>
</header>
<body class="bg-gray-800">
{% block content %}	
{% endblock %}
 <script src="https://unpkg.com/htmx.org@1.9.12"></script>
 <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
